[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
python-dotenv = "*"
sqlalchemy-serializer = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
